@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&display=swap');


/* Universal y secciones */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;    
}

* Header movil */

header{
    position: fixed;
    width: 100%;
    background-color: white;
}


p , a , button , input{
    font-weight: bold;
    font-size: medium;   
}


section{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}