@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins&display=swap');


/* Universal y secciones */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;    
}

/* Header movil */

header{
    position: fixed;
    width: 100%;
    background-color: white;
}

p , a , button , input{
    font-weight: bold;
    font-size: medium;   
}

section{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


/* Primer seccion del nav */

.primermenu{
    background-color: #2C3333;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav .primermenu a , nav .primermenu p{
    color: white;
    text-decoration: none;    
}

nav .primermenu i{
    color: white;
    padding-right: 5px;
}

/* Sector izquierdo del primer seccion de nav */

.navizquierda{  
    margin-left:30px ;
    display: flex;
    align-items: center;
}

.mitelefono{
    font-size: 25px;
    margin-left: 10px;
    padding-left: 45px;
}

.telefono , .mail{
    padding-left: 15px;
}

.telefono , .mail , .delivery , .idioma , .moneda{
    font-family: 'Poppins', sans-serif;
}

.carta{
    padding-left: 75px;
    height: 20px;
}

.cartaefecto{
    display: flex;
    align-items: center;
}
.cartaefecto:hover , .deliveryefecto:hover{
    transform: scale(1.1);
    transition: .5s;
}

nav .primermenu .navizquierda .mail{
    text-decoration: underline;
}

/* Sector derecho de la primer seccion del nav */

.navderecha{ 
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.camion{
    height: 18px;
    color: white;
    padding-right: 18px;
}

.deliveryefecto{
    display: flex;
    align-items: center;
}

.idioma{
    height: 23px;
    display: flex;
    align-items: center;
    border-left: 1px solid white;
    padding-left: 50px;
    margin-left: 50px;
}

.moneda{
    padding-left: 23px;
}

.primerflechita{
    padding-left: 8px;
    margin-top: 3px;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.segundaflechita{
    font-size: 21px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

/* Segundo menu del nav */

.segundomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.segundomenu a{
    color:#414545;
    text-decoration: none;
}

/* Sector izquierdo del segundo menu */

.imagenlogo{
    height: 100px;
    background-color: white;
}

.logoyletras{
    display:flex;  
}

.logodegiftify{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    left: 100px;
    top: 20px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 19px;
    margin-right: -20px;
    bottom: 20px;
    background-color: white;
    font-size: 45px;
    font-family: 'Playfair Display', serif;
    color: #FC9647;
}

.inputbuscador{
    width: 700px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    border: 2px solid #BAB9B8; 
    padding-left: 14px;
    margin-left: 140px;
    background-image: url(iconsearchnuevo.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 98%; 
}

/* Sector derecho del segundo menu */

.comprasyperfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
}

.corazonicon{
    height: 25px;
    margin-right: 20px;
}

.favoritos{
    color:#414545;
}

.micarro{
    font-size:25px;
    margin-right: 20px;
}

.basketlink{
    margin-left: 5px;
}

.iconousuario{ 
    height: 23px;
    padding-bottom: 5px;
    margin-right:  21px;
    cursor: pointer;
}

.favoritos , .basketlink{
    margin-right:  50px;
}

/* Tercer menu del nav */

/* Sector izquierdo del tercer menu */

.tercermenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

.tercermenulinks a{
    margin-left: 70px;
    text-decoration: none;
    color: #414545;
}

.tercermenulinks{
    margin-left: 20px;
}

/* Sector derecho del tercer menu */

.botonfollow{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border:3px solid #dfdfdf;
    border-radius: 8px;
    transition: .5s;
    cursor: pointer;
    margin-right: 65px;
    color: #414545;
    transition: .5s;
}

.botonfollow i{
    font-size: 25px;
    margin-right: 8px;
}

.botonfollow:hover{
    background-color: #fd9250cc;
    color: white;
    border: none;
}

.botonfollow:focus{
    background-color: #FF731D;
    color:white;
    border: none;
}

.tercermenulinks a:hover{
   color: #8E9091;
   
}

.inputbuscador:focus{
    outline: 1px solid  #b8b6b5;
    background:none;
}

/* Main de la pagina */

main{
    padding-top: 270px;
}

/* Contenedor de la primer foto , clases y pseudoclases del mismo*/

.primerdiv{
    background-image: url(regalo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
    height: 750px;
    width: 650px;
    margin-right: 75px;
}

/* Contenedor del formulario , clases y pseudoclases del mismo*/

.segundodiv{
    width: 500px;
    height: 740px;
    border: 3px solid #dfdfdf;
    border-radius: 15px;
    text-align: center;
    margin-left: 75px;
}

/* Etiqueta Signin */

.titulo1{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 28px;
}

